.a5{
	font-family:'微软雅黑';
	font-size:20px;
	color:#686868;
	font-weight:normal;
}
.a6{
	font-family:'Arial';
	font-size:12px;
	color:#a9a8a8;
	font-weight:normal;
}
.a7{
	color:#22a3d3;
}
.a8{
	text-indent:2em;
}